body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.MunicipalityMap__area:hover { fill-opacity: 0.5; stroke-width: 0.5; stroke-opacity: 0.7; }
.MunicipalityMap__area--selected { fill-opacity: 0.5; stroke-width: 0.5; stroke-opacity: 0.7; }
